{% extends "_base_template.html" %}

{% block main %}
<div>My Testing Blog</div>

<div>
    <div>
        <legend>Title</legend>
        <textarea id="TextArea1" rows="2" cols="20"></textarea>
    </div>

    <div>
    <legend>Date:</legend>
    </div>

    <div>
        <legend>Content</legend>
        <textarea id="TextArea1" rows="2" cols="20"></textarea>
        <input id="Text1" type="text" />
    </div>
</div>

<br />
<br />

<div>
    <legend>Articles</legend>
    {% for %}
</div>

{% end block %}